.room {
  height: 100%;
}
.messages {
  height: 88%;
  background-color: rgb(185, 214, 172);
  display: block;
  padding: 1rem 1rem 1rem 1rem;
  overflow-y: auto;
}

.messages::-webkit-scrollbar {
  width: 20px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgb(123, 141, 114); /*스크롤바의 색상*/
  background-clip: padding-box;
  border: 4px solid transparent;
  /* border-top-left-radius: 50px; */
  /* border-bottom-right-radius: 50px; */
  border-radius: 50px;
}

.messages::-webkit-scrollbar-track {
  background-color: rgb(167, 191, 154); /*스크롤바 트랙 색상*/
}

.messageDiv {
  display: flex;
}

.message {
  background-color: rgb(140, 180, 122);
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
  white-space: pre-line;
}

.me {
  display: flex;
  justify-content: right;
}

.textInput {
  display: flex;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}
.textInput input {
  width: 100%;
  border: 0px;
  padding: 0rem 0.5rem;
}
.textInput input:focus {
  outline: none;
}
.textInput button {
  width: 3rem;
}

.send {
  padding: 0.3rem 0.4rem 0.1rem 0.2rem;
  border-radius: 20px;
  color: rgb(124, 124, 124);
  font-size: 1.5rem;
}
.send:hover {
  /* box-shadow: 0px 0px 5px rgb(128, 128, 128); */
  color: rgb(52, 52, 52);
}

.send:active {
  /* box-shadow: 0px 0px 5px rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.5));
}