.spinnerDiv svg {
  height: 5rem;
  width: 5rem;
}

.aiImgDiv {
  display: inline-block;
  min-width: 30rem;
  min-height: 30rem;
  background-color: rgba(216, 191, 216, 0.836);
  white-space: pre-line;
}
