/* DotLoadingIcon.js */
.spinnerDiv svg {
  height: 2rem;
  width: 2rem;
}
.spinner_S1WN {
  animation: spinner_MGfb 0.8s linear infinite;
  animation-delay: -0.8s;
}
.spinner_Km9P {
  animation-delay: -0.65s;
}
.spinner_JApP {
  animation-delay: -0.5s;
}
@keyframes spinner_MGfb {
  93.75%,
  100% {
    opacity: 0.2;
  }
}
